html {
  position: relative;
  min-height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	background: $body;
	margin-bottom: 60px;
	padding-right: 0px !important;
}
.content-wrapper {
	position: fixed;
	top: 0;
	left: 90px;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
	-webkit-overflow-scrolling: touch;
}
@media (max-width: 767px) {
	.content-wrapper {
		left: 0;
		top: 0;
		&.noscroll {
			overflow-y: hidden;
			position: fixed;
		}
		.login-wrapper {
			display: none;
		}
		.container-fluid {
			margin-top: 45px;
		}
	}
}
a:focus {
    outline: none;
    outline-offset: -2px;
}
.wrapper {
  @include container(1140px);
}
h1 {
	color: $blue;
	font-weight: 400;
	font-size: 2em;
	margin: 0 0 30px;
	&.page-header {
		padding-bottom: 0;
		margin: 10px 0;
		border: 0;
	}
}
@media (max-width: 480px) {
	h1 {
		font-size: 1.5em;
		&.page-header {
			margin: 10px 0 0;
		}
		small {
			margin-left: 0;
		}
	}
}
h3 {
	font-size: 1em;
	width: 100%;
	line-height: 1;
	margin-top: 5px;;
	a {
		color: $darkgrey;
		display: block;
		text-decoration: none;
		@include ellipsis;
	}
}
h4 {
	color: $blue;
	text-transform: uppercase;
	font-size: 1.2em;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 40px;
	&.modal-title {
		border-bottom: 1px solid #e5e5e5;
		margin: 5px 0 20px;
		padding-bottom: 10px;
	}
}
@media (max-width: 767px) {
	h4 {
		font-size: 1em;
	}
}
p {
	font-size: 0.95em;
    line-height: 1.7em;
    color: #666;
    text-rendering: optimizeLegibility;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { 
	font-size: 16px; 
}
.breadcrumbs {
	font-size: 0.7em;
	margin-top: 15px;
	text-transform: uppercase;
	a {
		color: $darkgrey;
		display: inline-block;
		padding-bottom: 3px;
		&:after {
			content: ">";
			padding: 0 7px;
			color: $darkgrey;
		}
		&:hover {
			color: $blue;
			text-decoration: none;
			&:after {
				border-bottom: none;
			}
		}

	}
	.current-page {
		color: $blue;
		font-weight: 600;
		padding-bottom: 3px;
		// border-bottom: 2px solid $blue;
		display: inline-block;
	}
}
.center-panel-wrapper {
	position: absolute;
    right: 15px;
    left: 0;
    top: 0;
    bottom: 75px;
    transition: right 0.2s;
    z-index: 820;
    &.open {
		right: 450px;
		transition: right 0.2s;
    }
}
@media (max-width: 1084px) {
	.center-panel-wrapper {
		&.open {
			right: 385px;
		}
	}
}
@media (max-width:767px) {
	.center-panel-wrapper {
	    left: 15px;
	    top: 45px;
	    right: 0;
	    width: 98%;
	    &.open {
	    	right: 100%;
	    	left: -100%;
	    }
	}
}
.center-panel {
	.section-title {
		padding-bottom: 5px;
	    border-bottom: 1px solid #ddd;
	    margin: 0 15px 10px 0;
	    text-transform: uppercase;
	    font-size: .9em;
	    color: $bluehover;
	    width: 100%;
	    font-weight: 500;
	    float: left;
	    span.by-who {
	    	color: #bbb;
	    	text-transform: none;
	    	font-weight: 400;
	    	font-size: 0.9em;
	    	display: block;
	    	i {
	    		margin-left: 5px;
	    	}
	    }
	    .item-settings-icon {
		    float: right;
		    margin-right: 10px;
		    color: #ddd;
		    font-size: 20px;
		    i {
		    	margin-left: 10px;
		    	&:hover {
		    		cursor: pointer;
		    		color: $blue;
		    	}
		    }
	    }
	}
	section {
	    position: relative;
	    background: white;
	    padding: 15px 15px 30px;
	    border-radius: 4px;
	    border: 1px solid #ddd;
	    margin-bottom: 10px;
	    margin-top: 10px;
		&.active {
			&:after, &:before {
				right: -22px;
				top: 50px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-right-color: #ffffff;
				border-width: 15px;
				margin-top: -15px;
			}
			&:before {
				border-color: rgba(221, 221, 221, 0);
				border-right-color: #ddd;
				border-width: 16px;
				margin-top: -16px;
			}
			.section-comment {
				color: $blue;
				cursor: pointer;
				border-color: $blue;
				&:before {
					border-color: transparent $blue;
				}
			}
		}
		.section-content {
			width: 90%;
			position: relative;
			float: left;
		}
		.section-comment {
		    position: absolute;
		    background: transparent;
		    border-radius: 0;
		    border: 1px solid #ddd;
		    width: 38px;
		    padding: 1em 3px;
		    text-align: center;
		    font-size: 12px;
		    color: #999;
		    line-height: 10px;
		    top: 50px;
		    right: 20px;
			&:before {
			    content: "";
			    position: absolute;
			    bottom: -11px;
			    left: 10px;
			    border-width: 0 0 11px 13px;
			    border-style: solid;
			    border-color: transparent #ddd;
			    display: block;
			    width: 0;
			}
			&:after {
			    content: "";
			    position: absolute;
			    bottom: -9px;
			    left: 11px;
			    border-width: 0 0 9px 10px;
			    border-style: solid;
			    border-color: transparent white;
			    display: block;
			    width: 0;
			}
			&:hover {
				color: $blue;
				cursor: pointer;
				border-color: $blue;
				&:before {
					border-color: transparent $blue;
				}
			}
		}
	}
	.need-image {
		width: 100%;
		max-width: 305px;
		height: 200px;
		border-radius: 4px;
		border: 2px dashed #ddd;
		position: relative;
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 30px;
			margin-top: -15px;
			margin-left: -15px;
			color: #ccc;
		}
	}
}
@media (max-width: 1084px) {
	.center-panel {
		section {
			.section-content {
				width: 80%;
			}
		}
	}
}
@media (max-width: 767px) {
	.center-panel {
		section {
			margin-right: 20px;
			.section-title {
				.item-settings-icon {
					margin-right: 4px;
				}
			}
			.section-comment {
				top: 52px;
    			right: 15px;
    			margin-top: 0;
			}
		}
	}
}
.add-item-mid {
	text-align: center;
	font-size: 1.3em;
	color: #999;
	display: block;
	transition: transform 0.5s ease;
	&:hover {
		cursor: pointer;
		color: $blue;
	}
	&.active {
		-webkit-transform: rotate(-45deg);
		transition: transform 0.5s ease;
		color: #333;
		&:hover {
			color: red;
		}
	}
}
.new-item-section {
	background: white;
	border-radius: 4px;
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.1s ease;
	&.active {
		border: 1px solid #ddd;
		max-height: 450px;
		transition: max-height 0.3s ease;
		margin-bottom: 50px;
	}
	.section-title {
		// padding-bottom: 5px;
	 //    border-bottom: 1px solid #ddd;
	 //    margin: 15px 15px 10px 15px;
	 //    text-transform: uppercase;
	 //    font-size: .9em;
	 //    width: 97%;
	 //    color: $bluehover;
	 //    font-weight: 500;
	 //    float: left;
	}
	form {
		.new-item-input {
			border:0;
		    width: 97%;
		    margin: 15px 1.5% 0;
			border-bottom: 1px solid #ddd;
			padding-bottom: 5px;
			font-size: 13px;
		    font-weight: 400;
		    text-transform: uppercase;
		    color: $bluehover;
			&:focus {
				outline: 0;
			}
		}
	}
	.new-item-description {
		text-align: center;
		margin: 20px 0 0;
		color: #666;
	}
	.provide-wrapper {
		display: flex;
		flex-direction: row;
		margin: 0 1.5% 20px;
		.provide-btn {
			position: relative;
			flex: 1;
			text-align: center;
			background: #f1f1f1;
			padding: 20px 10px;
			border-radius: 4px;
			font-size: 2.5em;
			margin: 20px 5px 5px;
			color: #aaa;
			span {
				font-size: 0.35em;
			    display: block;
			    line-height: 1em;
			}
			&:hover {
				cursor: pointer;
				color: $blue;
			}
			&.active {
				background: $blue;
				color: white;
				&:after {
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(9, 103, 230, 0);
					border-top-color: #0967E6;
					border-width: 10px;
					margin-left: -10px;
				}
			}
		}
	}
	.add-item-hidden {
		margin: 20px 1.5%;
		display: none;
		&.show {
			display: block;
		}
	}
}
@media (max-width: 767px) {
	.new-item-section {
		margin-right: 20px;
	}
}
.add-new-section {
    background: #F4F7FB;
    text-align: center;
    color: #aaa;
    transition: all 0.5s;
    padding: 40px;
    margin-right: 15px;

  //   &.open {
		// right: 464px;
		// transition: all 0.5s ease;
  //   }
  a {
  	color: #aaa;
	&:hover {
		color: $blue;
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;	
	}
	i {
		font-size: 40px;
		line-height: 40px;
	}
  }
}
@media (max-width: 1084px) {
	.add-new-section {
		&.open {
			right: 377px;
		}
	}
}
@media (max-width:767px) {
	.add-new-section {
	    left: 15px;
	    &.open {
	    	left: -100%;
	    	right: 100%;
	    }
	}
}
.main-btn {
	background: $blue;
	color: white;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 3px;
	&:hover {
		color: white;
		text-decoration: none;
		background: $bluehover;
	}
}
#newItemModal {
	padding: 0;
	i#close-newItems {
		position: absolute;
		right: 5px;
		top: 5px;	
		z-index: 860;
		&:hover {
			cursor: pointer;
			color: $blue;
		}
	}
	.nav-tabs {
		margin: -15px -15px 0;
		display: flex;
		flex-direction: row;
		text-align: center;
		border-bottom: 1px solid #e5e5e5;
		& > li {
			&.tabs {
				flex: 1;
			}
			& > a {
				width: 100%;
				color: $darkgrey;
				text-transform: uppercase;
				font-size: 0.85em;
				line-height: 2;
				font-weight: 400;
				border-bottom: transparent;
				text-align: center;
				display: inline-block;
				padding: 10px 3px;		
			}
			&.close-modal {
				width: 45px;
				border-left: 1px solid #ddd;
				position: relative;
				border-top-right-radius: 4px;
				// background: #f9f9f9;
				&:hover {
					background: $blue;
					cursor: pointer;
					#close-right-details-panel {
						color: white;
					}
				}
			}
			&:hover {
				// a {
				// 	border-radius: 0;
				// }
			}
			&.active {
				a {
					border-color: transparent;
					background: transparent;
					border-bottom: 1px solid $blue;
					border-radius: none;
					color: $blue;
					font-weight: 500;
					&:hover, &:focus {
						border-color: transparent;
						background: transparent;
						border-bottom: 1px solid $blue;
						border-radius: none;
						color: $blue;
					}
				}
			}
		}
	}
	.new-item-description {
		text-align: center;
		margin: 20px 0 0;
		color: #666;
	}
	.provide-wrapper {
		display: flex;
		flex-direction: row;
		.provide-btn {
			position: relative;
			flex: 1;
			text-align: center;
			background: #f1f1f1;
			padding: 20px 10px;
			border-radius: 4px;
			font-size: 2.5em;
			margin: 20px 5px 5px;
			color: #aaa;
			span {
				font-size: 0.35em;
			    display: block;
			    line-height: 1em;
			}
			&:hover {
				cursor: pointer;
				color: $blue;
			}
			&.active {
				background: $blue;
				color: white;
				&:after {
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(9, 103, 230, 0);
					border-top-color: #0967E6;
					border-width: 10px;
					margin-left: -10px;
				}
			}
		}
	}
	textarea {
		width: 100%;
	}
	.add-item-hidden {
		margin-top: 30px;
		display: none;
		&.show {
			display: block;
		}
	}
}
@media (max-width: 767px) {
	#newItemModal {
		.provide-btn {
			font-size: 2em;
			padding: 10px;
			span {
				font-size: 9px;
			}
		}
	}
}
#loginModal {
	button.close {
		-webkit-appearance: none;
		padding: 0;
		cursor: pointer;
		background: 0 0;
		border: 0;
		position: absolute;
		top: 15px;
		right: 20px;
	}
	form.new-project-form {
		margin-top: 0;
	}
}
.mobile-nav-wrapper {
	display: none;
	background: $blue;
	padding: 13px 15px 10px;
	.login-wrapper {
		display: none;
	}
}
@media (max-width: 767px) {
	.mobile-nav-wrapper {
		&.hide {
			display: none;
		}
		.login-wrapper {
			display: block;
		}
	}
}
#mobile-nav {
	display: none;
	color: $bluehover;
	font-size: 1.5em;
	line-height: 1;		
	&:hover {
		color: white;
		cursor: pointer;
	}
}
@media (max-width: 767px) {
	.mobile-nav-wrapper {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 849;
	}
	#mobile-nav {
		display: inline-block;
	}
}
.sidebar {
	z-index: 900;
	height: 100%;
	width: 65px;
	background: $blue;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 20px;
	overflow-y: scroll;
	&::-webkit-scrollbar { 
		width: 0 !important 
	}
	.sidebar-inner {
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    height: 100%;
		ul {
			margin: 0;
			padding: 0;
		    -webkit-flex-shrink: 0;
		    -ms-flex-negative: 0;
		    flex-shrink: 0;
			li {
				list-style: none;
				margin-bottom: 20px;
			    -webkit-flex-shrink: 0;
			    -ms-flex-negative: 0;
			    flex-shrink: 0;
				a {
					color: $bluehover;
					text-decoration: none;
					font-size: 2em;
					text-align: center;
					.nav-title {
						display: block;
						font-size: 0.35em;
						opacity: 0;
					}
					&.active {
						color: white;
						.nav-title {
							// opacity: 1;
						}
					}
				}
				&:hover {
					a {
						color: white;
						text-decoration: none;
						.nav-title {
							// opacity: 1;
						}
					}
				}
			}
		}
	}

}
@media (max-width: 767px) {
	.sidebar {
		position: absolute;
		width: 100%;
		right: 0;
		bottom: auto;
		top: 48px;
		height: auto;
		padding: 0;
		text-align: left;
		max-height: 0;
		-webkit-transition: max-height 0.2s;
		-moz-transition: max-height 0.2s;
		transition: max-height 0.2s;
		.sidebar-inner {
			height: auto;
			.flexgrow {
			    -webkit-flex-grow: 0;
			    -ms-flex-positive: 0;
			    flex-grow: 0;
			}
			ul {
				li {
					display: block;
					margin: 5px 0;
					a {
						text-align: left;
						font-size: 1.1em;
						width: 100%;
						display: block;
						padding: 8px 4px;
						&:hover {
							background: $bluehover;
						}
						i {
							margin: 0 10px;
						}
						.nav-title {
							opacity: 1;
							display: inline-block;
							font-size: 1em;
						}
					}
					&:first-child {
						margin-top: 5px;
					}
					&:last-child {
						margin-top: 0;
						margin-bottom: 15px;
					}
				}
			}
		}
		&.show {
			max-height: 800px;
			-webkit-transition: max-height 0.2s;
			-moz-transition: max-height 0.2s;
			transition: max-height 0.2s;
		}
	}
}
a.login-link {
	border-radius: 4px;
	border: 1px solid #4A90E2;
	background: transparent;
	padding: 5px 10px;
	margin-top: 5px;
	font-size: 0.85em;
	display: block;
	width: 70px;
	text-transform: uppercase;
	text-align: center;
	float: right;
	&:hover {
		background: $blue;
		color: white;
		text-decoration: none;
	}
}
@media (max-width: 767px) {
	a.login-link {
		border-color: white;
		color: white;
		&:hover {
			text-decoration: none;
		}
	}
}
.login-wrapper {
	position: absolute;
    right: 15px;
    top: 3px;
     z-index: 850;
	.profile-avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
		border: 2px solid white;
		&:hover {
			border-color: $blue;
		}
	}
	.dropdown-menu {
	    top: 130%;
	    left: auto;
	    right: 0;
	    background: $blue;
	    z-index: 901;
	    li {
	    	a {
	    		color: white;
	    		padding: 7px 15px;
	    		&:hover, &:focus, &:active { 
	    			background: $bluehover;
	    			color: white;
	    		}
	    	}
	    }
		border: none;
	    border-radius: 2px;
	    -webkit-box-shadow: 0px 2px 1px rgba(0,0,0,.1);
	    box-shadow: 0px 2px 1px rgba(0,0,0,.1);
	    &:after {
			bottom: 100%;
			right: 10px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(9, 103, 230, 0);
			border-bottom-color: #0967E6;
			border-width: 10px;
			margin-left: -10px;
		}
	}
}
@media (max-width: 767px) {
	.login-wrapper {
		.profile-avatar {
			border-color: $blue;
		}
		.dropdown-menu {
			top: 100%;
			border-radius: 0;
			&:after {
				display: none;
			}
		}
	}
}
.list-wrap {
    float: none;
    width: auto;
    max-width: none;
}
ul.portfolio-list-ul {
	margin: 0 auto;
	padding: 0;
	max-width: 5000px;
}
@media screen and (max-width: 1789px) {
	ul.portfolio-list-ul {
	    max-width: 1500px;
	}
}
@media screen and (max-width: 2039px) {
	ul.portfolio-list-ul {
	    max-width: 1750px;
	}
}

.portfolio-item {
    margin: 20px 5px;
    width: 178px;
    display: inline-block;
	.portfolio-list-inner {
		padding: 0;
		background: white;
		float: left;
		width: 100%;
		box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 2px 0px;
		.no-photo {
			@include aspect-ratio(300, 400);
			background: #fff;
    		border-bottom: 1px solid $lightgrey;
    		overflow: hidden;
    		.inner {
    			position: absolute;
    			font-size: 120px;
    			line-height: 1;
				color: $lightgrey;
				overflow: hidden;
				top: 10px;
				left: 120px;
				font-weight: 200;
				white-space: nowrap;
				text-transform: uppercase;
				transform: rotate(90deg);
				transform-origin: left top 0;
    		}
		}
	}
	img {
		width: 100%;
		max-width: 100%;
	}
	h3 {
		margin: 8px 3% 5px;
    	width: 94%;
	}
}
@media (min-width: 501px) and (max-width: 767px) {
	.portfolio-item {
	    margin: 20px 1%;
	    width: 22.5%;
	}
}
@media (max-width: 500px) {
	.portfolio-item {
	    margin: 20px 1.6%;
	    width: 45.8%;
	}
}
.portfolio-item-actions {
	width: 94%;
	float: left;
	font-size: 0.85em;
	margin: 0 3% 5px;
	a {
		color: #999;
		&.list-subprojects {
			color: $blue;
			float: left;
			margin-left: 3px;
			&:before {
				font-family: 'simple-line-icons';
				content: "\e03f";
			}
			&.none {
				color: #999;
			}
		}
		&.list-be-follower {
			float: right;
			margin-right: 3px;
			&:before {
				font-family: 'simple-line-icons';
				content: "\e095";
			}
			&:hover {
				&:before {
					color: green;
				}
			}
		}		
		&.list-followers {
			float: right;
			margin-right: 3px;
			&:before {
				font-family: 'simple-line-icons';
				content: "\e080";
			}
		}
		span {
			margin-left: 3px;
		}
		&:hover {
			text-decoration: none;
			color: $darkgrey;
		}
	}
	i {
		
		&.icon-drawar {
			
		}
		&.icon-check {
			float: right;
		}
		
	}
}
.main-image-wrapper {
	max-width: 100%;
	max-height: 300px;
    position: relative;
	img.main-image {
		width: auto;
		max-width: 100%;
		max-height: 300px;
		z-index: 50;
		&:hover {
			cursor: zoom-in;
		}
	}
	.no-photo {
		&.details {
			@include aspect-ratio(725, 125);
			background: #fff;
			.inner {
			    position: absolute;
			    font-size: 50px;
			    line-height: 1;
			    color: #e5e5e5;
			    overflow: hidden;
			    top: 11px;
			    left: 55px;
			    font-weight: 200;
			    white-space: nowrap;
			    text-transform: uppercase;
			    transform: rotate(90deg);
			    transform-origin: left top 0;
    		}
		}
	}
}
ul.main-image-details {
	padding: 0;
	margin: 0;
	li {
		position: relative;
		list-style: none;
		line-height: 2;
		text-transform: uppercase;
		font-size: 0.85em;
		background: white;
		color: #888;
		margin-bottom: 10px;
		padding: 15px 20px;
		border-radius: 3px;
		strong {
			text-transform: none;
			font-size: 1.2em;
			margin-left: 10px;
			color: $blue;
			display: inline-block;
		}
		&:after {
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #ffffff;
			border-width: 10px;
			margin-top: -10px;
		}
	}
	hr {
		border-color: #e5e5e5;
	}
}
@media (max-width: 767px) {
	ul.main-image-details {
	    margin-top: 15px;
	    text-align: center;
		li {
		    font-size: 0.8em;
		    display: inline-block;
		    text-align: center;
		    margin-right: 5px;
		    line-height: 1.6em;
		    padding: 5px 10px;
		    width: 30%;
		    &:after {
				right: auto;
				top: auto;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-right-color: #ffffff;
				border-width: 0;
				margin-top: 0;
		    }
		    strong {
			    text-transform: none;
			    font-size: 1.1em;
			    margin-left: 0;
			    display: block;
		    }
		    &:first-child {
		    	border-left: none;
		    }
		    &:last-child {
		    	margin-right: 0;
		    }
		}
	}
}
.details-wrapper {
	p {
		color: $darkgrey;
	}
}
a.file-btn {
	background: $blue;
	color: white;
	padding: 10px 20px;
	border-radius: 3px;
	display: inline-block;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	margin-top: 5px;
}
#close-right-details-panel {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 50%;
    margin-right: -4px;
    font-style: normal;
    color: #ddd;
    z-index: 801;
    font-size: 16px;
    font-weight: 600;
}
.right-details-panel {
	position: fixed;
	top: 45px;
	right: -430px;
	bottom: 20px;
	width: 410px;
	background: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	transition: right 0.2s;
	z-index: 800;
	&.show {
		right: 20px;
		transition: right 0.2s;
	}
	.nav-tabs {
		display: flex;
		flex-direction: row;
		text-align: center;
		border-bottom: 1px solid #e5e5e5;
		& > li {
			&.tabs {
				flex: 1;
			}
			&.close-modal {
				width: 45px;
				border-left: 1px solid #ddd;
				position: relative;
				// background: #f9f9f9;
				&:hover {
					background: $blue;
					cursor: pointer;
					#close-right-details-panel {
						color: white;
					}
				}
			}
			& > a {
				color: $darkgrey;
				text-transform: uppercase;
				font-size: 0.85em;
				line-height: 2;
				font-weight: 400;
				border-bottom: transparent;
				text-align: center;
				width: 100%;
				display: inline-block;
				padding: 10px 3px;
					span {
						font-size: 0.8em;
						font-weight: 400;
						margin: 0 5px;
						border-radius: 30px;
						padding: 1px 7px;
						background: $darkgrey;
						color: white;
					}				
			}
			&:hover {
				& > a {
					border-radius: 0;
				}
			}
			&.active {
				& > a {
					border-color: transparent;
					background: transparent;
					border-bottom: 1px solid $blue;
					border-radius: none;
					color: $blue;
					font-weight: 500;
					span {
						background: $blue;
					}
					&:hover, &:focus {
						border-color: transparent;
						background: transparent;
						border-bottom: 1px solid $blue;
						border-radius: none;
						color: $blue;
					}
				}
			}
		}
	}
	&.stick {
	    position: fixed;
	    top: 20px;
	}
	.tab-content {
		padding: 20px;
		border-color: transparent;
	}
}
@media (max-width: 1084px) {
	.right-details-panel {
		width: 350px;
		.nav-tabs {
			&>li {
				& > a {
					font-size: 0.8em;
					line-height: 2;
					font-weight: 400;
					border-bottom: transparent;
					text-align: center;
					width: 100%;
					display: inline-block;
					padding: 10px 3px;
						span {
							font-size: 0.75em;
							font-weight: 400;
							margin: 0 3px;
							padding: 1px 4px;
						}				
				}
			}
		}
		&.show {
		    right: 15px;
		}
		&.stick {
		    position: fixed;
		    top: 20px;
		}
	}
}
@media (max-width: 767px) {
	.right-details-panel {
		top:5px;
		bottom: 15px;
		width: 100%;
		left: 100%;
		z-index: 823;
		&.show {
		    left: 5px;
		    width: 98%;
		    top: 5px;
		    bottom: 5px;
		    right: 5px;
		    border-radius: 4px;
		}
		&.stick {
		    position: fixed;
		    top: 20px;
		}
	}
}
.right-panel-tab-content {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

form.new-project-form {
	margin-top: 20px;
	.form-group {
		margin-bottom: 20px;
	}
	label {
		color: #7F8BA0;
		font-weight: 500;
		text-transform: uppercase;
		width: 100%;
	}
	p.help-block {
		color: #999;
		font-size: 0.85em
	}
	input, textarea {
		border-radius: 4px;
		border: 1px solid #ddd;
		box-shadow: none;
		padding: 15px;
		font-size: 14px;
	}
	input {
		height: 45px;
		&[type="file"] {
			background: white;
			height: 50px;
			line-height: 1;
			color: #999;
		}
		&.select-file-input {
		    float: left;
		    margin-right: 0;
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		    display: block;
		    max-width: 250px;
		}
	}
	button.select-file-btn {
	    height: 45px;
	    border-radius: 4px;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	    margin: 0;
	    background: #DDE5ED;
	    color: #39444C;
	    border: 1px solid #DDE5ED;
	    text-transform: uppercase;
	    padding: 0 15px;
	    font-size: 0.9em;
	    display: block;
	    whitespace: nowrap;
		&:focus, &:active {
			outline: none;
		}
		&:hover {
			background: $darkgrey;
			border-color: $darkgrey;
			color: white;
		}
	}
	hr {
		border-color: #ddd;
	}
	#more-details-wrapper {
		display: none;
		color: white;
		background: $bluehover;
		padding: 15px;
		max-width: 600px;
		border-radius: 4px;
		margin-bottom: 15px;
		position: relative;
		-webkit-animation: slideInUp .5s; /* Safari 4+ */
		-moz-animation:    slideInUp .5s; /* Fx 5+ */
		-o-animation:      slideInUp .5s; /* Opera 12+ */
		animation:         slideInUp .5s;
		a {
			color: white;
			text-decoration: underline;
		}
		p {
			margin: 0;
		}
		strong {
			text-transform: uppercase;
		}
		&:after {
			bottom: 100%;
			left: 30px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(74, 144, 226, 0);
			border-bottom-color: $bluehover;
			border-width: 15px;
			margin-left: -15px;
		}
	}
	#submit-new-hidden-fields {
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.8s;
		-moz-transition: max-height 0.8s;
		transition: max-height 0.8s;
		&.opened {
			max-height: 3000px;
			-webkit-transition: max-height 0.8s;
			-moz-transition: max-height 0.8s;
			transition: max-height 0.8s;
		}
	}
}
@media (max-width: 767px) {
	form.new-project-form {
		input {
			&.select-file-input {
				max-width: 200px;
			}
		}
	}
}
// Comments
.comments {
	.single-comment {
		margin-bottom: 30px;
		.comment-avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			margin: 0 auto;
			float: left;
			border: 2px solid $lightgrey;
			margin: 3px 12px 0 0;
			display: inline-block;
		}
		.comment-body {
			margin-left: 50px;
			.comment-name {
				font-weight: 600;
				span {
					color: #999;
				    font-weight: 400;
				    margin-left: 5px;
				    font-size: .8em;
					i {
					    margin-right: 4px;
					    font-size: 0.9em;
					}
				}
			}
		}
		p {
			color: #888;
		}
	}
}
.add-comment {
	position: relative;
}
.show-comments-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: 3px;
    left: 20px;
    bottom: 135px;
    top: 65px;
    padding-right: 15px;
	&::-webkit-scrollbar {
	    width: 10px;
	}
	 
	&::-webkit-scrollbar-track {
	    -webkit-box-shadow: none;
	    background: #f3f3f3;
	    border-radius: 10px;
	}
	 
	&::-webkit-scrollbar-thumb {
	  background-color: #d9d9de;
	  outline: 3px solid white;
	  border-radius: 10px;
	}
}
@media (max-width: 767px) {
	.show-comments-wrapper {
		bottom: 90px;
	}
}
.add-comment-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: #F8F8F9;
    border-top: 1px solid #E1E2E4;
    margin: 0;
    padding: 20px;
    .login-to-comment {
    	text-align: center;
    	margin: 30px 0;
    	a {
    		text-decoration: underline;
    	}
    }
}
@media (max-width: 767px) {
	.add-comment-wrapper {
		padding: 0;
		.login-to-comment {
			    margin: 10px 0;
			p {
				margin: 0;
			}
		}
	}
}
form.add-comment-form {
	position: relative;
	margin: 0;
	.comment-avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
		float: left;
		border: 2px solid $lightgrey;
		display: inline-block;
	}
	.form-group {
		margin: 0;
	}
	.comment-add-field {
		position: relative;
		margin-left: 60px;
		textarea {
			padding: 10px 65px 10px 10px;
			height: 65px;
			font-size: 14px;
		}
		.add-comment-btn {
		    position: absolute;
		    right: 0;
		    top: 0;
		    height: 65px;
		    background: $blue;
		    border-radius: 0;
		    border-top-right-radius: 4px;
		    border-bottom-right-radius: 4px;
		    width: 65px;
		    padding: 0;
		    border: none;
		    i {
		    	position: absolute;
		    	top: 50%;
		    	margin-top: -15px;
		    	left: 50%;
		    	margin-left: -15px;
		    	font-size: 2em;
		    	color: $bluehover;
		    }
		    &:hover {
		    	background: $bluehover;
		    	i {
		    		color: white;
		    	}
		    }
		}
	}
}
@media (max-width: 767px) {
	form.add-comment-form {
		margin: 10px;
		.comment-avatar {
			width: 35px;
			height: 35px;
		}
		.comment-add-field {
			margin-left: 45px;
			textarea {
				height: 35px;
				font-size: 12px;
				box-shadow: 0;
			}
			.add-comment-btn {
				height: 35px;
				width: 35px;
				i {
					top: 11px;
					margin-top: 0;
					left: 11px;
					margin-left: 0;
					font-size: 13px;
				}
			}
		}
	}
}
#commentBody {
	width: 100%;
}

// End Comments
.user-details-form {
	img.user-profile-pic {
		max-width: 100px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid #ddd;
		position: relative;
		&:hover {
			border-color: $blue;
		}
	}
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
.modal {
	max-width: 100%;
}
.modal-open {
  overflow-y: auto;
}
footer {
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 120px;
    height: 60px;
	border-top: 1px solid $lightgrey;
	padding-top: 20px;
	margin-top: 60px;
	font-size: 0.9em;
	color: $darkgrey;
	.made-with-love {
		text-align: right;
		.footer-love-right {
			display: inline-block;
		}
	}
}
@media (max-width: 767px) {
	footer {
		left: 15px;
	}
}