    <!-- Navigation -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-nav-wrapper">
                <ul>
                    <li>
                        <a href="/" title="All Projects">
                            <i class="icon-layers"></i>
                            <span class="nav-title">
                                All Projects
                            </span>
                        </a>
                    </li>
                
                    <li>
                        <a href="/latest-activity/" title="Latest Activity">
                            <i class="icon-clock"></i>
                            <span class="nav-title">
                                Latest Activity
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="/my-projects/" title="My Projects">
                            <i class="icon-user-following"></i>
                            <span class="nav-title">
                                My Projects
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="/search/" title="Search">
                            <i class="icon-magnifier"></i>
                            <span class="nav-title">
                                Search
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="/submit/" title="New Project">
                            <i class="icon-plus"></i>
                            <span class="nav-title">
                                New Project
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navigation -->