{% include "layouts/includes/header.html" %}
<div class="row">
  <div class="col-sm-12 index-intro">
    <h1>
      The Latest
      <span>from your <em>ambitious</em> OpenStack design team</span>
    </h1>
    <ul class="page-nav">
      <li><a href="#this-week">This Week</a></li>
      <li><a href="#need-help">Need Help</a></li>
      <li><a href="#feedback">Feedback</a></li>
    </ul>
  </div>
</div>
<div class="index-description">
    <div class="row">
      <div class="col-sm-12">
        <h5>The TL;DR</h5>
        {{ contents | safe }}
      </div>
    </div>
</div>
<div id="this-week">
    <div class="row">
      <div class="col-sm-12">
        <h2>Activity this week</h2>
      </div>
    </div>
    <!-- This week's activity -->
    {% set list = find({ 'data.date' : {'$gt': '2016-07-26' } }).all() %}

    {% for item in list %}
    <div class="row index-this-week">
      <div class="col-sm-2">
        <div class="date">
            {{item.data.date}}
        </div>
      </div>
      <div class="col-sm-10">
        <h4 class="project-title">
            {% for proj in item.data.project %}
                <a href="/projects/{{ proj.id }}">{{ proj.project }}</a>
            {% endfor %} 
        </h4>
        <p>
            {{item.data.update}}
        </p>
        {% if item.data.url %}
            {% for proj in item.data.project %}
                <a href="/projects/{{ proj.id }}" class="image-preview">
                    <img src="{{item.data.url}}" alt="{{ proj.project }}">
                </a>
            {% endfor %} 
        {% endif %}
        {% for proj in item.data.project %}
            <a href="/projects/{{ proj.id }}" class="view-btn">View Project <i class="icon-arrow-right"></i></a>
        {% endfor %} 
      </div>
    </div>
    {% endfor %}
</div>

<div id="need-help">
    <div class="row">
      <div class="col-sm-12">
        <h2>Projects Where We Need Some Help</h2>
      </div>
    </div>
    {% set list = find({ 'data.status' : {"$elemMatch": {status: "Waiting on..."} } }).all() %}
        <div class="row">
          <div class="col-sm-12 index-need-help">
            <ul>
            {% for item in list %}
                <li>
                    <h4 class="project-title">
                        <a href="/projects/{{ item.data.id }}/">{{item.data.project}}</a>
                    </h4>
                    <div class="waiting-for">What we're patiently waiting on...</div>
                    <ul class="waiting-list">
                        {% for need in item.data.needs %}
                            <li class="waiting-text">
                                {{ need.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
          </div>
        </div>
</div>

<div id="feedback">
    <div class="row">
        <div class="col-sm-12">
            <h2>Projects Ready For Feeback</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 index-feedback">
            <!-- Projects in progress -->
            {% set list = find({ 'data.status' : {"$elemMatch": {status: "Needs Feedback"} } }).all() %}
            
            <div class="row">
                <ul>
                {% for item in list %}
                    <li>
                        <div class="col-sm-9 col-xs-7">
                            <h4 class="project-title">
                                <a href="/projects/{{ item.data.id }}/">{{item.data.project}}</a>
                            </h4>
                        </div>
                        <div class="col-sm-3 col-xs-5 view-column">
                            <a href="/projects/{{ item.data.id }}/" class="view-btn">View Project <i class="icon-arrow-right"></i></a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% include "layouts/includes/footer.html" %}
